html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, YuGothic, "Yu Gothic Medium", "Yu Gothic", Verdana, Meiryo, sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6em;
}

div {
  font-size: 1.4rem;
  text-align: justify;
  font-feature-settings: "palt";
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

header, main, footer {
  max-width: 400px;
  margin: 0 auto 40px;
  padding: 0 20px;
  box-sizing: border-box;
}

footer {
  text-align: center;
  padding-bottom: 30px;
}

address {
  font-style: normal;
  font-size: 1rem;
}
